name: Build and Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Java 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: "17"

      - name: Build with Maven
        run: mvn clean package -DskipTests

      - name: Rename jar
        run: mv target/*.jar target/modbusserverapp.jar

      - name: Setup SSH Key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H "${{ secrets.EC2_HOST }}" >> ~/.ssh/known_hosts

      - name: Prepare EC2 Folder
        run: |
          HOST="${{ secrets.EC2_HOST }}"
          USER="${{ secrets.EC2_USER }}"

          ssh -i ~/.ssh/id_rsa $USER@$HOST "sudo mkdir -p /home/ubuntu/app"
          ssh -i ~/.ssh/id_rsa $USER@$HOST "sudo chown ubuntu:ubuntu /home/ubuntu/app"

      - name: Upload Jar to EC2
        run: |
          HOST="${{ secrets.EC2_HOST }}"
          USER="${{ secrets.EC2_USER }}"

          scp -i ~/.ssh/id_rsa target/modbusserverapp.jar $USER@$HOST:/home/ubuntu/app/modbusserverapp.jar

      - name: Restart Spring Boot Service
        run: |
          HOST="${{ secrets.EC2_HOST }}"
          USER="${{ secrets.EC2_USER }}"

          ssh -i ~/.ssh/id_rsa $USER@$HOST "sudo systemctl restart modbusapp"
          ssh -i ~/.ssh/id_rsa $USER@$HOST "sudo systemctl status modbusapp --no-pager"
